.idea
/logs
/data
.env
.vagrant
/.project
.docker-sync
/jenkins/jenkins_home
*.log
/logstash/pipeline/*.conf
/logstash/config/pipelines.yml
/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml

.DS_Store
