# Docs: https://caddyserver.com/docs/caddyfile
laravel.base:80 {
    redir https://{host}{uri}
}

laravel.base:443 {
    root /var/www/base/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    tls self_signed
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
}
